body {
  margin-top: 2em;
  margin-bottom: 2em;
  background-color: #fafafa;
}
.container-full {
  padding-top: 10%;
  background-color: transparent;
}

h1,
h2 {
  text-align: center;
}

.list-group-item {
  overflow: hidden;
  text-overflow: ellipsis;
}

.list-group-compact .list-group-item {
  padding: 5px 7px;
}

.module-load-dependencies {
  margin-bottom: 20px;
}

.module-load-dependencies .control-label {
  display: block;
  text-align: center;
}

.module-load-dependencies .list-group {
  margin-bottom: 5px;
}

footer {
  text-align: center;
}
